<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Phone contacts</title>
    <link rel="stylesheet" th:href="@{/styles/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/styles/styles.css}"/>
</head>
<body style="text-align:center">

<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" style="width:100%; color:white; text-align:center">Phone contacts</a>
</nav>

<div role="main" class="container" style="margin-top: 50px">
    <div style="margin-top: 100px; text-align:center; width: 100%">
        <h1 th:text="${country != null ? customerPage.content.size() > 0 ? 'Customers in '
        + country.toUpperCase() : 'No customers in ' + country.toUpperCase() : state != null ? state.toUpperCase()
        + ' customers' : 'All customers'}"></h1>
    </div>
</div>

<table class="table" border="1"
       style="margin-top: 20px; margin-left:15%; margin-right:15%; text-align:center; width: 70%">
    <thead class="thead-dark">
    <tr>
        <th th:text="Customer"/>
        <th th:text="Contact"/>
    </tr>
    </thead>
    <tbody>
    <tr th:each="customer, iStat : ${customerPage.content}"
        th:style="${iStat.odd}? 'background-color: Lightgrey;'"
        th:alt-title="${customer.name}">
        <td th:text="${customer.name}"/>
        <td th:text="${customer.phone}"/>
    </tr>
    </tbody>
</table>

<ul>
    <li th:if="${customerPage.totalPages > 0 && country == null && state == null}"
        th:each="pageNumber : ${pageNumbers}  " class="inline">
        <a th:href="@{/(size=${customerPage.size}, page=${pageNumber})}"
           th:text=${pageNumber}
           th:class="${pageNumber == customerPage.number + 1} ? active : inactive" style="margin: 10px"></a>
    </li>
</ul>

<ul>
    <li th:if="${customerPage.totalPages > 0 && country != null}"
        th:each="pageNumber : ${pageNumbers}  " class="inline">
        <a th:href="@{'/country/{country}?size={size}&page={page}'(country=${country}, size=${customerPage.size}, page=${pageNumber})}"
           th:text=${pageNumber}
           th:class="${pageNumber == customerPage.number + 1} ? active : inactive " style="margin: 10px"></a>
    </li>
</ul>

<ul>
    <li th:if="${customerPage.totalPages > 0 && state != null}"
        th:each="pageNumber : ${pageNumbers}  " style="display: inline-block;">
        <a th:href="@{'/state/{state}?size={size}&page={page}'(state=${state}, size=${customerPage.size}, page=${pageNumber})}"
           th:text=${pageNumber}
           th:class="${pageNumber == customerPage.number + 1} ? active : inactive " style="margin: 10px"></a>
    </li>
</ul>

<div>
    <span class="inline">
    <form data-th-action="@{'/'}" data-th-object="${model}" method="get">
        <button type="submit" class="btn btn-primary">All contacts</button>
    </form>
    </span>
    <span class="inline">
    <form data-th-action="@{'/state/valid'}" data-th-object="${model}" method="get">
        <button type="submit" class="btn btn-success">Valid contacts</button>
    </form>
    </span>
    <span class="inline">
    <form data-th-action="@{'/state/invalid'}" data-th-object="${model}" method="get">
        <button type="submit" class="btn btn-danger">Invalid contacts</button>
    </form>
    </span>
    <span class="inline">
        <form data-th-action="@{/country}" data-th-object="${model}" method="get">
            <span class="inline">
            <select id="country" name="country" class="form-control" style="margin-top:2px">
                <option th:each="c : ${countries}" th:value="${c}" th:text="${c}" th:selected="${c.equals(country)}">
                </option>
            </select>
            </span>
             <span class="inline">
                <button type="submit" onclick="" class="btn btn-info">Filter by country</button>
            </span>

        </form>
    </span>
</div>

</body>
</html>
